In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Coursera.csv')

In [3]:
df.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [5]:
df.shape

(3522, 7)

In [6]:
df.info

<bound method DataFrame.info of                                             Course Name  \
0     Write A Feature Length Screenplay For Film Or ...
1     Business Strategy: Business Model Canvas Analy...
2                         Silicon Thin Film Solar Cells
3                                  Finance for Managers
4          Retrieve Data using Single-Table SQL Queries
...                                                 ...
3517  Capstone: Retrieving, Processing, and Visualiz...
3518                   Patrick Henry: Forgotten Founder
3519  Business intelligence and data analytics: Gene...
3520                                Rigid Body Dynamics
3521  Architecting with Google Kubernetes Engine: Pr...

                                             University Difficulty Level  \
0                             Michigan State University         Beginner
1                              Coursera Project Network         Beginner
2                                   �cole Polytechnique         Advanced
3                                  IESE Business School     Intermediate
4                              Coursera Project Network         Beginner
...                                                 ...              ...
3517                             University of Michigan         Beginner
3518                             University of Virginia     Intermediate
3519                               Macquarie University         Advanced
3520  Korea Advanced Institute of Science and Techno...         Beginner
3521                                       Google Cloud     Intermediate

     Course Rating                                         Course URL  \
0              4.8  https://www.coursera.org/learn/write-a-feature...
1              4.8  https://www.coursera.org/learn/canvas-analysis...
2              4.1  https://www.coursera.org/learn/silicon-thin-fi...
3              4.8  https://www.coursera.org/learn/operational-fin...
4              4.6  https://www.coursera.org/learn/single-table-sq...
...            ...                                                ...
3517           4.6  https://www.coursera.org/learn/python-data-vis...
3518           4.9               https://www.coursera.org/learn/henry
3519           4.6  https://www.coursera.org/learn/business-intell...
3520           4.6  https://www.coursera.org/learn/rigid-body-dyna...
3521           4.7  https://www.coursera.org/learn/deploying-secur...

                                     Course Description  \
0     Write a Full Length Feature Film Script  In th...
1     By the end of this guided project, you will be...
2     This course consists of a general presentation...
3     When it comes to numbers, there is always more...
4     In this course you�ll learn how to effectively...
...                                                 ...
3517  In the capstone, students will build a series ...
3518  �Give me liberty, or give me death:� Rememberi...
3519  �Megatrends� heavily influence today�s organis...
3520  This course teaches dynamics, one of the basic...
3521  In this course, "Architecting with Google Kube...

                                                 Skills
0     Drama  Comedy  peering  screenwriting  film  D...
1     Finance  business plan  persona (user experien...
2     chemistry  physics  Solar Energy  film  lambda...
3     accounts receivable  dupont analysis  analysis...
4     Data Analysis  select (sql)  database manageme...
...                                                 ...
3517  Databases  syntax  analysis  web  Data Visuali...
3518  retirement  Causality  career  history of the ...
3519  analytics  tableau software  Business Intellig...
3520  Angular  Mechanical Design  fluid mechanics  F...
3521  bigtable  bigquery  SQL  Google Cloud Platform...

[3522 rows x 7 columns]>

In [8]:
df.isnull().sum()

Course Name           0
University            0
Difficulty Level      0
Course Rating         0
Course URL            0
Course Description    0
Skills                0
dtype: int64

In [10]:
df['Difficulty Level'].value_counts()

Difficulty Level
Beginner          1444
Advanced          1005
Intermediate       837
Conversant         186
Not Calibrated      50
Name: count, dtype: int64

In [11]:
df = df[['Course Name','Difficulty Level','Course Description','Skills']]

In [12]:
df.head()

,Course Name,Difficulty Level,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Beginner,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Beginner,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,Advanced,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,Intermediate,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Beginner,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [18]:
df.loc[:, 'Course Name'] = df['Course Name'].str.replace(' ', ',', regex=False)
df.loc[:, 'Course Name'] = df['Course Name'].str.replace(',,', ',', regex=False)
df.loc[:, 'Course Name'] = df['Course Name'].str.replace(':', '', regex=False)

df.loc[:, 'Course Description'] = df['Course Description'].str.replace(' ', ',', regex=False)
df.loc[:, 'Course Description'] = df['Course Description'].str.replace(',,', ',', regex=False)
df.loc[:, 'Course Description'] = df['Course Description'].str.replace('_', '', regex=False)
df.loc[:, 'Course Description'] = df['Course Description'].str.replace(':', '', regex=False)
df.loc[:, 'Course Description'] = df['Course Description'].str.replace('(', '', regex=False)
df.loc[:, 'Course Description'] = df['Course Description'].str.replace(')', '', regex=False)

In [19]:
df.loc[:, 'Skills'] = df['Skills'].str.replace('(', '', regex=False)
df.loc[:, 'Skills'] = df['Skills'].str.replace(')', '', regex=False)
#replacaing paranthesis

In [21]:
df.loc[:, 'tags'] = df['Course Name'] + df['Difficulty Level'] + df['Course Description'] + df['Skills']

In [22]:
df.head()

,Course Name,Difficulty Level,Course Description,Skills,tags
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",Beginner,"Write,a,Full,Length,Feature,Film,Script,In,thi...",Drama Comedy peering screenwriting film D...,"Write,A,Feature,Length,Screenplay,For,Film,Or,..."
1,"Business,Strategy,Business,Model,Canvas,Analys...",Beginner,"By,the,end,of,this,guided,project,you,will,be,...",Finance business plan persona user experienc...,"Business,Strategy,Business,Model,Canvas,Analys..."
2,"Silicon,Thin,Film,Solar,Cells",Advanced,"This,course,consists,of,a,general,presentation...",chemistry physics Solar Energy film lambda...,"Silicon,Thin,Film,Solar,CellsAdvancedThis,cour..."
3,"Finance,for,Managers",Intermediate,"When,it,comes,to,numbers,there,is,always,more,...",accounts receivable dupont analysis analysis...,"Finance,for,ManagersIntermediateWhen,it,comes,..."
4,"Retrieve,Data,using,Single-Table,SQL,Queries",Beginner,"In,this,course,you�ll,learn,how,to,effectively...",Data Analysis select sql database management...,"Retrieve,Data,using,Single-Table,SQL,QueriesBe..."

In [23]:
df['tags'].iloc[1]

'Business,Strategy,Business,Model,Canvas,Analysis,with,MiroBeginnerBy,the,end,of,this,guided,project,you,will,be,fluent,in,identifying,and,creating,Business,Model,Canvas,solutions,based,on,previous,high-level,analyses,and,research,data.,This,will,enable,you,to,identify,and,map,the,elements,required,for,new,products,and,services.,Furthermore,it,is,essential,for,generating,positive,results,for,your,business,venture.,This,guided,project,is,designed,to,engage,and,harness,your,visionary,and,exploratory,abilities.,You,will,use,proven,models,in,strategy,and,product,development,with,the,Miro,platform,to,explore,and,analyse,your,business,propositions.,We,will,practice,critically,examining,results,from,previous,analysis,and,research,results,in,deriving,the,values,for,each,of,the,business,model,sections.Finance  business plan  persona user experience  business model canvas  Planning  Business  project  Product Development  presentation  Strategy business business-strategy'

In [24]:
new_df = df[['Course Name','tags']]

In [25]:
new_df.head()

,Course Name,tags
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...","Write,A,Feature,Length,Screenplay,For,Film,Or,..."
1,"Business,Strategy,Business,Model,Canvas,Analys...","Business,Strategy,Business,Model,Canvas,Analys..."
2,"Silicon,Thin,Film,Solar,Cells","Silicon,Thin,Film,Solar,CellsAdvancedThis,cour..."
3,"Finance,for,Managers","Finance,for,ManagersIntermediateWhen,it,comes,..."
4,"Retrieve,Data,using,Single-Table,SQL,Queries","Retrieve,Data,using,Single-Table,SQL,QueriesBe..."

In [29]:
new_df['tags'] = df['tags'].str.replace(',',' ')

/var/folders/jl/7c8chjkx2mg6k62b_6h0d5940000gn/T/ipykernel_1754/1036989811.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = df['tags'].str.replace(',',' ')

In [31]:
new_df['Course Name'] = df['Course Name'].str.replace(',',' ')

/var/folders/jl/7c8chjkx2mg6k62b_6h0d5940000gn/T/ipykernel_1754/1965637035.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Course Name'] = df['Course Name'].str.replace(',',' ')

In [32]:
new_df.rename(columns = {'Course Name':'course_name'}, inplace = True)

/var/folders/jl/7c8chjkx2mg6k62b_6h0d5940000gn/T/ipykernel_1754/2809988695.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns = {'Course Name':'course_name'}, inplace = True)

In [33]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

/var/folders/jl/7c8chjkx2mg6k62b_6h0d5940000gn/T/ipykernel_1754/3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [34]:
new_df.head(5)

,course_name,tags
0,Write A Feature Length Screenplay For Film Or ...,write a feature length screenplay for film or ...
1,Business Strategy Business Model Canvas Analys...,business strategy business model canvas analys...
2,Silicon Thin Film Solar Cells,silicon thin film solar cellsadvancedthis cour...
3,Finance for Managers,finance for managersintermediatewhen it comes ...
4,Retrieve Data using Single-Table SQL Queries,retrieve data using single-table sql queriesbe...

In [35]:
new_df.shape

(3522, 2)

In [36]:
from sklearn.feature_extraction.text import CountVectorizer

In [37]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [38]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [39]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [40]:
new_df['tags'] = new_df['tags'].apply(stem)

/var/folders/jl/7c8chjkx2mg6k62b_6h0d5940000gn/T/ipykernel_1754/3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [41]:
from sklearn.metrics.pairwise import cosine_similarity

In [42]:
similarity = cosine_similarity(vectors)

In [43]:
def recommend(course):
    course_index = new_df[new_df['course_name'] == course].index[0]
    distances = similarity[course_index]
    course_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:7]
    
    for i in course_list:
        print(new_df.iloc[i[0]].course_name)

In [44]:
import pickle

In [45]:
pickle.dump(similarity,open('models/similarity.pkl','wb'))
pickle.dump(new_df.to_dict(),open('models/course_list.pkl','wb'))
pickle.dump(new_df,open('models/courses.pkl','wb'))